@import "themes/frappe.css";

@define-color accent @blue;
@define-color surface @surface0;
@define-color surface-focused @surface2;

* {
    font-family: "Noto Sans Nerd Font";
    font-size: 14px;
}

window#waybar {
    color: @text;
    background-color: @base;
}

#workspaces,
#mode,
#scratchpad,
#window,
#idle_inhibitor,
#power-profiles-daemon,
#pulseaudio,
#backlight,
#temperature,
#cpu,
#memory,
#disk,
#battery,
#clock,
#language,
#network,
#wireplumber,
#custom-media,
#tray,
#custom-power
{
    background-color: @surface;
    padding: 2pt 6pt;
    margin: 2pt;
}

#workspaces {
    background-color: @base;
    padding: 0pt;
}

#workspaces button {
    color: @text;
    background-color: @surface;
    padding: 2pt 6pt;
    margin-left: 1pt;
    margin-right: 1pt;
    border: none;
    box-shadow: none;
    transition: none;
    border-radius: 0;
}

#workspaces button.focused {
    font-weight: bold;
    background-color: @accent;
    color: @surface;
}

#workspaces button.urgent {
    background-color: @red;
}

#workspaces button:hover {
    background: @surface-focused;
}

#mode {
    background-color: @accent;
    font-weight: bold;
    color: @surface;
}

#scratchpad:hover {
    background: @surface-focused;
}

#window {
    background-color: @base;
    font-weight: bold;
}

#idle_inhibitor.activated {
    background-color: @accent;
    color: @surface;
}

#idle_inhibitor:hover {
    background: @surface-focused;
}

#power-profiles-daemon.performance {
    background-color: @red;
}

#power-profiles-daemon.balanced {
    background-color: @blue;
    color: @surface;
}

#power-profiles-daemon.power-saver {
    background-color: @green;
    color: @surface;
}

#pulseaudio:hover {
    background: @surface-focused;
}

#backlight:hover {
    background: @surface-focused;
}

#temperature {
    color: @surface;
    background-color: @sky;
}

#temperature.critical {
    background-color: @red;
}

#temperature:hover {
    background: @teal;
}

#cpu {
    color: @surface;
    background-color: @sky;
}

#cpu:hover {
    background: @teal;
}

#memory {
    color: @surface;
    background-color: @sky;
}

#memory:hover {
    background: @teal;
}

#disk {
    color: @surface;
    background-color: @sky;
}

#disk:hover {
    background: @teal;
}

#battery.good {
    color: @surface;
    background-color: @green;
}

#battery.warning {
    color: @surface;
    background-color: @yellow;
}

#battery.critical {
    color: @surface;
    background-color: @red;
}

#battery:hover {
    background: @text;
}

#custom-power:hover {
    background: @surface-focused;
}
